#menu {
    display: none;
}

.menuContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 6rem;
	height: calc(100vh - 6rem);
	z-index: 10;
	color: var(--background);
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	font-size: 1.875rem;
	animation: fallAnimation .3s ease-out;
}

.menuItem {
	text-align: center;
	padding: 1rem;
	border-radius: .5rem;
	-webkit-transition: .15s color ease, .15s background-color ease;
    -moz-transition: .15s color ease, .15s background-color ease;
    -o-transition: .15s color ease, .15s background-color ease;
	transition: .15s color ease, .15s background-color ease;
	display: flex;
	gap: 1rem;
}

.menuItem:hover {
	color: var(--primary);
	background-color: var(--background);
}

/* HAMBURGER MENU */
.button{
  color:var(--primary);
}
.hamb {
    position: relative;
    border-width: 0px;
    background-color: transparent;
    padding: 0;
}
.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
.hamb .ham {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.hamb .ham {
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition-duration: .3s;
}
.hamb .ham .top {
    stroke-dasharray: 40 160;
}
.hamb .ham .middle {
    transform-origin: 50%;
    stroke-dasharray: 40 142;
}
.hamb .ham .bottom {
    transform-origin: 50%;
    stroke-dasharray: 40 85;
}
.hamb .line {
    fill: none;
    stroke: var(--primary);
    stroke-width: 5;
    transition-duration: .3s;
    stroke-linecap: round;
}
.hamb.active svg {
    --tw-rotate: 45deg;
    transform: rotate(var(--tw-rotate));
}
.hamb.active svg .top {
    stroke-dashoffset: -64px;
}
.hamb.active svg .middle {
    --tw-rotate: 90deg;
    transform: rotate(var(--tw-rotate));
}
.hamb.active svg .bottom {
    stroke-dashoffset: -64px;
}

@keyframes fallAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}