.container {
	padding: 1rem;
}

.table {
	width: 100%;
	border-collapse: separate;
	border-spacing: .75rem;
}

.heads {
	text-align: left;
}

.rows {
	background-color: var(--elements);
}

.row {
	padding: 1rem .25rem;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	font-size: .875rem;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.notDelivered {
	background-color: var(--error) !important;
	color: var(--black);
}

.notDelivered .input {
	color: var(--black);
	border-color: var(--black);
}

.notDelivered .input::placeholder {
	color: var(--black-light);
}

.hiddenCol {
	display: none;
}

@media screen and (min-width: 768px) {
	.hiddenCol {
		display: table-cell;
	}

	.rows {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		padding: 0 5rem;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		padding: 0 10rem;
	}
}