:root {
  /* colors */
  --white: hsl(0, 0%, 98%);
  --white-lighter: hsl(0, 0%, 100%);
  --red: hsl(357, 65%, 55%);
  --green: hsl(150, 100%, 27%);
  --fuchsia: hsl(289, 100%, 98%);
  --fuchsia-darker: hsl(289, 10%, 10%);
  --black: hsl(0, 0%, 17%);
  --black-lighter: hsl(0, 0%, 20%);
  --error-color: hsl(0, 86%, 97%);
  /* --error-color-darker: hsl(0, 86%, 97%); */
  
  /* theme */
  --background: var(--white);
  --elements: var(--white-lighter);
  --primary: var(--red);
  --secondary: var(--fuchsia);
  --text: var(--black);
  --input: var(--black-lighter);
  --error: var(--error-color);

  /* sizes */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
}

.theme {
  -webkit-transition: .5s background-color ease-in;
  -moz-transition: .5s background-color ease-in;
  -o-transition: .5s background-color ease-in;
  transition: .5s background-color ease-in;
}

.dark {
  --background: var(--black);
  --elements: var(--black-lighter);
  --primary: var(--red);
  --secondary: var(--fuchsia-darker);
  --text: var(--white-lighter);
  --input: var(--white);
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--text);
}

h1, h2, h3 {
  color: var(--primary);
}

h3 {
  font-weight: normal;
}

p {
  font-size: .875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  padding: 1rem;
  border-radius: .5rem;
  color: var(--white);
  background-color: var(--primary);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: .2s border-radius ease-in-out, .2s box-shadow ease-in-out;
  -moz-transition: .2s border-radius ease-in-out, .2s box-shadow ease-in-out;
  -o-transition: .2s border-radius ease-in-out, .2s box-shadow ease-in-out;
  transition: .2s border-radius ease-in-out, .2s box-shadow ease-in-out;
}

button:hover {
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

input, textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--input);
  border-radius: .2rem;
  background-color: transparent;
  color: var(--text);
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  -webkit-transition: border-color .15s ease-in;
  -moz-transition: border-color .15s ease-in;
  -o-transition: border-color .15s ease-in;
  transition: border-color .15s ease-in;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--text);
}

::placeholder {
  color: var(--input);
}

/* Code for Firefox */
::-moz-selection {
  color: var(--text);
  background: var(--primary);
}

::selection {
  color: var(--text);
  background: var(--primary);
}

/** Scrollbar **/
::-webkit-scrollbar {
  width: .7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--input);
  border-radius: .5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text);
}

@media (min-width: 768px) {
  p {
    font-size: 1rem;
  }
}